.subject-main{
    .main-body{
        padding-top:80px;
        .body-title{
            text-align: center;
            font-size: 48px;
            font-weight: 500;
            margin-bottom: 88px;
        }
    }
}
.table-subjects{
    margin:0 auto !important;
    padding-bottom: 150px;
    display: grid;
    max-width: 1346px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap:67px;

    .item-subjects{
        display: flex;
        height: 500px;
        background-color: #FFD94E;
        border:1px solid #FFD94E;
        border-radius: 20px;
        font-size: 48px;
        font-weight: 500;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        
    }
}