<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="../static/styles/main.css">
</head>
<body>
    <header class="header hello-header">
        <div class="container-header">
            <nav class="header-nav">
                <a href="#" class="link-main"><img src="../static/img/logo.svg" alt="Логотип" class="logo"></a>
                <div class="nav-links">
                    <a href="#" class="profile"><img src="../static/img/profile.svg" alt=""></a>
                </div>
            </nav>
        </div>
    </header>
    <main class="entrance-test-main">
        <div class="container-main">
            <div class="main-body">
                <h1 class="body-title">
                    Начало тригонометрии
                </h1>
                <ul class="test-info">
                    <li class="info-item">
                        <span class="item-key">Предмет:</span>
                        <span class="item-value">Математика</span>
                    </li>
                    <li class="info-item">
                        <span class="item-key">Автор:</span>
                        <span class="item-value">Головач Е. М.</span>
                    </li>
                    <li class="info-item">
                        <span class="item-key">Время на прохождение:</span>
                        <span class="item-value">15 мин.</span>
                    </li>
                    <li class="info-item">
                        <span class="item-key">Кол-во вопросов:</span>
                        <span class="item-value">10</span>
                    </li>
                    <a href="./test.html" class="go-test">Приступить к выполнению</a>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>