<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="../static/styles/main.css">
</head>
<body>
    <header class="header ">
        <div class="container-header">
            <nav class="header-nav">
                <a href="#" class="link-main"><img src="../static/img/logo.svg" alt="Логотип" class="logo"></a>
                <div class="nav-links">
                    <a href="#" class="profile"><img src="../static/img/profile.svg" alt=""></a>
                </div>
            </nav>
        </div>
    </header>
    <main class="final-test-main">
        <div class="container-main">
            <div class="main-body">
                <ul class="final-info">
                    <a href="#" class="back-test"></a>
                    <li class="info-item">
                        <span class="item-key">Потрачено времени:</span>
                        <span class="item-value">10 мин. 20 сек. из 15 мин.</span>
                    </li>
                    <li class="info-item">
                        <span class="item-key">Кол-во решённых задач:</span>
                        <span class="item-value">9 из 10</span>
                    </li>
                    <button class="pass-test">Сдать работу</button>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>