<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="stylesheet" href="../static/styles/main.css">
</head>
<body>
    <header class="header hello-header">
        <div class="container-header">
            <nav class="header-nav">
                <a href="#" class="link-main"><img src="../static/img/logo.svg" alt="Логотип" class="logo"></a>
                <div class="nav-links">
                    <a href="#" class="entrance">Вход</a>
                    <a href="#" class="next">Приступим</a>
                </div>
            </nav>
        </div>
    </header>
    <main class="hello-main">
        <div class="container-main">
            <div class="main-body">
                <section class="body-info">
                    <h1>Взаимодействие с тестами ещё не было настолько простым!</h1>
                    <p class="body-text">
                        TheThinkers - бесплатный конструктор тестов с 
                        карточками, с помощью которого ваши ученики
                        смогут решать задачи с вариантами ответов.
                    </p>
                    <button class="btn-registration"><a href="registration.html">Регистрация</a></button>
                </section>
            </div>
        </div>
    </main>
</body>
</html>