<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/styles/main.css">
</head>
<body>
    <header class="header hello-header">
        <div class="container-header">
            <nav class="header-nav">
                <a href="#" class="link-main"><img src="../static/img/logo.svg" alt="Логотип" class="logo"></a>
                <div class="nav-links">
                    <a href="#" class="next">Приступим</a>
                </div>
            </nav>
        </div>
    </header>
    <main class="login-main">
        <div class="container-main">
            <div class="main-body">
                <h1 class="body-title">
                    Вход
                </h1>
                <form action="#">
                    <div class="column-input">
                        <input type="email" placeholder="Почта" class="input" id="login-email">
                        <input type="password" placeholder="Пароль" class="input last" id="login-pass">
                        <a href="#" class="no-pass">Забыли пароль?</a>
                    </div>
                    <button class="btn-registration" type="submit">Войти</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>