<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>math-tests</title>
    <link rel="stylesheet" href="../static/styles/main.css">
</head>
<body>
    <header class="header ">
        <div class="container-header">
            <nav class="header-nav">
                <a href="#" class="link-main"><img src="../static/img/logo.svg" alt="Логотип" class="logo"></a>
                <div class="nav-links">
                    <a href="#" class="profile"><img src="../static/img/profile.svg" alt=""></a>
                </div>
            </nav>
        </div>
    </header>
    <main class="tests-main">
        <div class="container-main">
            <div class="main-body">
                <h1 class="body-title">
                    Тесты по Математике
                </h1>
                <form action="#">
                    <input type="text" placeholder="Найти нужный тест...">
                </form>
                <div class="tests">
                    <ul class="list-tests">
                        <li class="tests-item">
                            <a href="./entrance-test.html">Тема: Начало тригонометрии, Преподаватель: А.С. Пушкин</a>
                        </li>
                        <li class="tests-item">
                            <a href="#">Тема: Начало тригонометрии, Преподаватель: А.С. Пушкин</a>
                        </li>
                        <li class="tests-item">
                            <a href="#">Тема: Начало тригонометрии, Преподаватель: А.С. Пушкин</a>
                        </li>
                        <li class="tests-item">
                            <a href="#">Тема: Начало тригонометрии, Преподаватель: А.С. Пушкин</a>
                        </li>
                        <li class="tests-item">
                            <a href="#">Тема: Начало тригонометрии, Преподаватель: А.С. Пушкин</a>
                        </li>
                        <li class="tests-item">
                            <a href="#">Тема: Начало тригонометрии, Преподаватель: А.С. Пушкин</a>
                        </li>
                        <li class="tests-item">
                            <a href="#">Тема: Начало тригонометрии, Преподаватель: А.С. Пушкин</a>
                        </li>
                        <li class="tests-item">
                            <a href="#">Тема: Начало тригонометрии, Преподаватель: А.С. Пушкин</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</body>
</html>