<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="stylesheet" href="../static/styles/main.css">
</head>
<body>
    <header class="header">
        <div class="container-header">
            <nav class="header-nav">
                <a href="#" class="link-main"><img src="../static/img/logo.svg" alt="Логотип" class="logo"></a>
                <div class="nav-links">
                    <a href="./login.html" class="entrance">Вход</a>
                </div>
            </nav>
        </div>
    </header>
    <main class="registration-main">
        <div class="container-main">
            <div class="main-body">
                <h1 class="body-title">
                    Регистрация
                </h1>
                <form action="#" class="registration-form">
                    <div class="table-input">
                        <input type="email" placeholder="Почта" class="input input-email">
                        <input type="date" placeholder="Дата рождения" class="input input-date">
                        <input type="password" placeholder="Пароль" class="input input-pass">
                        <input type="text" placeholder="ФИО" class="input input-name">
                        <input type="text" placeholder="Образовательное учреждение" class="input input-school">
                        <div class="choice-role">
                            <input type="radio" name="role" class ="role" value="student" id="student">
                            <label for="student">Я ученик</label>
                            <input type="radio" name="role" class ="role" value="teacher" id="teacher">
                            <label for="teacher">Я учитель</label>
                        </div>                      
                        <button class="btn-registration" type="submit">Зарегистрироваться</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>