<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>subjects-map</title>
    <link rel="stylesheet" href="../static/styles/main.css">
</head>
<body>
    <header class="header hello-header">
        <div class="container-header">
            <nav class="header-nav">
                <a href="#" class="link-main"><img src="../static/img/logo.svg" alt="Логотип" class="logo"></a>
                <div class="nav-links">
                    <a href="#" class="profile"><img src="../static/img/profile.svg" alt=""></a>
                </div>
            </nav>
        </div>
    </header>
    <main class="subject-main">
        <div class="container-main">
            <div class="main-body">
                <h1 class="body-title">
                    Выбери предмет:
                </h1>
                <ul class="table-subjects">
                    <li><a class="item-subjects" href="./math-tests.html">Математика</a></li>
                    <li><a class="item-subjects" href="">Физика</a></li>
                    <li><a class="item-subjects" href="">Информатика</a></li>
                    <li><a class="item-subjects" href="">Англ.язык</a></li>
                    <li><a class="item-subjects" href="">Русский язык</a></li>
                    <li><a class="item-subjects" href="">Физика</a></li>
                    <li><a class="item-subjects" href="">Информатика</a></li>
                    <li><a class="item-subjects" href="">Англ.язык</a></li>
                    <li><a class="item-subjects" href="">Русский язык</a></li>
                    <li><a class="item-subjects" href="">Название <br> предмета</a></li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>