<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="../static/styles/main.css">
</head>
<body>
    <header class="header hello-header">
        <div class="container-header">
            <nav class="header-nav">
                <a href="#" class="link-main"><img src="../static/img/logo.svg" alt="Логотип" class="logo"></a>
                <div class="nav-links">
                    <a href="#" class="profile"><img src="../static/img/profile.svg" alt=""></a>
                </div>
            </nav>
        </div>
    </header>
    <main class="test-main">
        <div class="container-main container-main__test">
            <div class="main-body">
                <div class="task">
                    <p class="task-question">Какая самая высокая гора в мире?</p>
                    <form action="#">
                        <ul class="list-answer">
                            <li class="answer-item">
                                <input  type="radio" name="answer" value="fisrt">
                                <label for="fisrt" class="answer">Эльбрус</label>
                            </li>
                            <li class="answer-item">
                                <input type="radio" name="answer" value="second">
                                <label for="second" class="answer">Эльбрус</label>
                            </li>
                            <li class="answer-item">
                                <input  type="radio" name="answer" value="third">
                                <label for="third" class="answer">Эльбрус</label>
                            </li>
                            <li class="answer-item">
                                <input  type="radio" name="answer" value="fouth">
                                <label for="fouth" class="answer">Эльбрус</label>
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="timer">
                    У вас осталось: 2 минуты 30 секунд
                </div>
            </div>
        </div>
        <div class="tasks">
            <div class="list-tasks">
                <button class="tasks-item">1</button>
                <button class="tasks-item">2</button>
                <button class="tasks-item">3</button>
                <button class="tasks-item">4</button>
                <button class="tasks-item">5</button>
            </div>
        </div>
    </main>
</body>
</html>