@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --width: 1100px;
  --pad: 12px;
  --botPush: 10px;
  --bColr: #f7f7f7; /*e5e5e5*/
  --blue: #1da1f2; /*1da1f2e6*/
  --red: #ca2055;
  --grey: rgb(101, 119, 134);
}

a.text:focus,
a.text:active,
a.text:hover,
a.text {
  text-decoration: none;
  color: #2573D9 !important;
}

.productMain-info__applied a, .productMain-info__applied p {
  text-decoration: none;
  color: #2573D9 !important;
}

.productMain-info__applied a:visited {
  color: #2573D9 !important; /* Цвет посещенной ссылки */
}

ul, li {
  margin: 0;
  padding: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  height: 100%;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #e5e5e5;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

::-webkit-input-placeholder {
  color: #000;
}

input[type=radio] {
  display: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.ttf");
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.ttf");
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #000000;
}

body a {
  color: #000000;
}

.hello-main {
  background: #FFFFFF url("../img/bg_hello.png") 27px 17px no-repeat;
}
.hello-main .main-body {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.hello-main .main-body .body-info {
  margin-top: 300px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.hello-main .main-body h1 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}
.hello-main .main-body .body-text {
  color: #8B8B8B;
  margin-bottom: 50px;
}

.btn-registration {
  width: 100%;
  padding: 60px 0;
  background-color: #FFC801;
  border: 1px solid #FFC801;
  border-radius: 70px;
}
.btn-registration a {
  font-size: 40px;
  font-weight: 500;
}

.container-header {
  max-width: 1640px;
  margin: 0 auto;
}

.container-main {
  max-width: 1640px;
  margin: 0 auto;
  height: 1000px;
}

.header {
  color: #FFFFFF;
  background-color: #FFC801;
}

.header a {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 500;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.nav-links {
  display: flex;
  gap: 60px;
  align-items: center;
}

.next {
  padding-right: 30px;
  background: url("../img/arrow.svg") right center no-repeat;
  background-size: 22px 22px;
}

.registration-main .main-body {
  padding-top: 150px;
}
.registration-main .main-body .body-title {
  text-align: center;
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 88px;
}
.registration-main .main-body .btn-registration {
  width: 1346px;
  border-radius: 45px;
  padding: 50px 0;
  font-size: 45px;
  font-weight: 500;
  grid-column: span 2;
}

.table-input {
  margin: 0 auto;
  display: grid;
  max-width: 1346px;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 162px;
       column-gap: 162px;
  row-gap: 52px;
  margin-bottom: 95px;
}
.table-input .input {
  border: 2px solid #585858;
  border-radius: 40px;
  padding: 35px 0 35px 40px;
  font-family: "Montserrat", sans-serif;
}
.table-input .choice-role {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table-input .choice-role .role {
  display: block;
  padding: 53px 68px;
  text-align: center;
  border: 2px solid #FFD94E;
}

.login-main .main-body {
  padding-top: 150px;
}
.login-main .main-body .body-title {
  text-align: center;
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 88px;
}
.login-main .main-body .btn-registration {
  width: 674px;
  margin: 0 483px;
  border-radius: 45px;
  padding: 50px 0;
  font-size: 45px;
  font-weight: 500;
}

.column-input {
  display: flex;
  flex-direction: column;
  max-width: 592px;
  margin: 0 auto 164px auto;
}
.column-input .input {
  border: 2px solid #585858;
  border-radius: 40px;
  padding: 35px 0 35px 40px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 52px;
}
.column-input .last {
  margin-bottom: 0;
}
.column-input .no-pass {
  font-size: 20px;
  color: #655F4B;
  text-decoration: underline;
  align-self: flex-end;
  margin-right: 15px;
}

.subject-main .main-body {
  padding-top: 80px;
}
.subject-main .main-body .body-title {
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 88px;
}

.table-subjects {
  margin: 0 auto !important;
  padding-bottom: 150px;
  display: grid;
  max-width: 1346px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 67px;
}
.table-subjects .item-subjects {
  display: flex;
  height: 500px;
  background-color: #FFD94E;
  border: 1px solid #FFD94E;
  border-radius: 20px;
  font-size: 48px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.tests-main .main-body {
  padding-top: 80px;
}
.tests-main .main-body .body-title {
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 65px;
}
.tests-main .main-body form {
  margin: 0 auto;
  width: 1114px;
  margin-bottom: 43px;
}
.tests-main .main-body form input {
  width: 100%;
  padding: 20px 67px;
  padding-right: 0;
  background-color: #ECECEC;
  color: #757575;
  border-radius: 20px;
}

.tests {
  margin: 0 auto;
  width: 1560px;
  height: 956px;
  border: 10px solid #717171;
  border-radius: 10px;
  overflow: auto;
}
.tests .list-tests {
  padding: 56px 78px 56px 48px;
}
.tests .list-tests a {
  background: #FFD94E url("../img/ellipse.svg") 38px center no-repeat;
  display: inline-block;
  padding: 45px 96px;
  padding-right: 0;
  width: 100%;
  border-radius: 15px;
}
.tests .list-tests li {
  margin-bottom: 18px;
}
.tests .list-tests li:last-child {
  margin-bottom: 0;
}/*# sourceMappingURL=main.css.map */